<body id="page-top" class="index">
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<div ng-controller="PortfolioCtrl as pfctrl">
    
    <script type="text/ng-template" id="myModalContent.html" >
        
        <div class="text-center" style='padding:30px;'>
                    
            <h2>{{ selectedBeer.name }}</h2>
            <hr class="star-primary">
            <p>
                {{ selectedBeer.description }}
            </p>
            <img src="{{ selectedBeer.labels.large }}" class="img-responsive img-centered" alt="" >


 <!--            <ul class="list-inline item-details">
                <li>Client:
                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                    </strong>
                </li>
                <li>Date:
                    <strong><a href="http://startbootstrap.com">April 2014</a>
                    </strong>
                </li>
                <li>Service:
                    <strong><a href="http://startbootstrap.com">Web Development</a>
                    </strong>
                </li>
            </ul> -->
            <br />
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='cancel()'><i class="fa fa-times"></i> Close</button>
                        
        </div>

    </script>


    <section id='portfolio' >
        
        <div class="container text-center">
            <div class="row text-center">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 portfolio-item text-center" ng-repeat='beer in pfctrl.beers' ng-click="open('lg', beer)" >
                    <div style="float:left;">
                        <a href="#" class="portfolio-link" data-toggle="modal" ng-click="$event.preventDefault()">

                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-response" src="{{beer.labels.medium}}"/>
                            
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>

  </div>  

      


</body>

